numpy==1.26.4
scikit-learn==1.5.2
torch==2.4.0  # CPU only version
lightning==2.4.0  # install after torch
pynndescent==0.5.11

git+https://github.com/cyber-physical-systems-group/pydentification.git@v0.5.0  # our main library
